.task {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.75rem;

    width: 46.06rem;
    height: 4.687rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.task input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;
    background: var(--gray-500);
    border: 1.5px solid var(--blue);
    border-radius: 50%;
    padding: 0.45rem;
    transition: border 0.2s, color 0.4s;
}

.task input[type="checkbox"]:checked {
    border: 2px solid var(--purple-dark);
    background: var(--purple-dark) url("../assets/checked.svg") center no-repeat;
}

.task input[type="checkbox"]:not(:checked) {
    background: var(--gray-500);
    border: 1.5px solid var(--blue);
}

.task input[type="checkbox"]:hover {
    opacity: 0.9;
}

.task span {
    width: 39.5rem;

    font-family: 'Inter';
    font-style: initial;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
}

.task button {
    background: transparent;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;

    display: flex;
    align-items: center;

    border-radius: 2px;
}

.task button svg {
    margin: 0.25rem;
}

.task button:hover {
    background-color: var(--gray-400);
    color: var(--danger);
}